.logo {
  text-decoration: none;
  color: white;
  font-family: fantasy;
  font-size: 40px;
  padding: 2px;
}

.logo:hover {
  color: white;
}

.logo2 {
  color: rgb(5, 214, 5);
}

.opcion {
  text-decoration: none;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
}

.opcion:hover {
  color: rgba(5, 214, 5, 0.555);
}

.op-Activo {
  color: rgb(5, 214, 5);
}

.roulet-content {
  margin-right: 0%;
  margin-left: 0%;
}

#map {
  height: 500px;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
}

.img-roulet {
  padding: 5px;
  height: 450px;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .img-roulet {
    height: 350px;
  }

  #map {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (max-width: 500px) {
  .img-roulet {
    height: 250px;
  }

  #map {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.difuso {
  background-color: rgba(255, 255, 255, 0.11);
}

.difuso2 {
  background-color: rgba(255, 255, 255, 0.068);
  padding: 5px;
}

.sombra {
  margin: 8px;
}